.logo{
    text-align: center ;
    color:red;
    margin-left : auto;
    margin-right: auto;
    width: 20em;   
}

.purple{
    color: purple;
}

.gold{
    color: rgb(122, 106, 11);
}

.list{
    list-style-position: inside;
}
.header2{
    position: relative;
}

.menu{
    display: inline-block;
    text-align: center ;
    margin-left: auto;
    margin-right: auto;
    width : 5em;
}

.allmenu{
    text-align: center ;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
}

.middle{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

nav{
    margin-left: 10px
}
